/*Sedans, Suvs, Luxury, Top-box, Middle-box, Car-type, Product-description Bottom-box*, Button-box*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 2689px;
  padding: 148px 190px;
  justify-content: center;
  align-items: center;
}
#Big-box {
  display: flex;
  width: 927px;
  height: 504px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
.Border-box {
  display: flex;
  width: 309px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}
#Sedans {
  border-radius: 10px 0px 0px 10px;
  background: hsl(31, 77%, 52%);
}
#Suvs {
  border-radius: 0px 0px 0px 0px;
  background: hsl(184, 100%, 22%);
}
#Luxury {
  border-radius: 0px 10px 10px 0px;
  background: hsl(179, 100%, 13%);
}
.Top-box {
  display: flex;
  height: 111px;
  padding: 63px 198px 8px 48px;
  align-items: center;
}
.Middle-box {
  width: 310px;
  height: 290px;
}
.Car-type {
  width: 118px;
  height: 63px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
.Product-description {
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 24.8px */
  letter-spacing: -0.48px;
}
.Bottom-box {
  display: flex;
  height: 103px;
  padding: 10px 126px 47px 47px;
  align-items: center;
}
.Button-box {
  display: flex;
  padding: 13px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #fff;
  color: #e38523;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
